.top {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4em;
    background-color: white;
    border-bottom: 1px solid rgb(240, 240, 240);
    padding: 1vw 10vw 0 10vw;
    z-index: 99;
}

.topContainer {
    height: 5em;
}

.logo {
    display: flex;
    width: 70px;
    align-items: center;
    justify-content: left;
    margin-right: 40px;
}

.bottom {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    justify-content: space-between;
    height: 3em;
    background-color: white;
    padding: 0 10vw 0 10vw;
}

.authNavigation {
    display: flex;
    flex-direction: row;
}

.loginLink{
    display: flex;
    padding: 0.5vw 1vw;
    color: rgb(74, 164, 187);
    border: 1px solid rgb(74, 164, 187);
    border-radius: 5px;
}

.loginLink:hover {
    color: rgb(74, 164, 187);
}

.signInLink {
    display: flex;
    padding: 0.5vw 1vw;
    margin-left: 1vw;
    color: white;
    background-color:rgb(129, 122, 194);
    border-radius: 5px;
}

.signInLink:hover{
    color: white;
}


.logout{
    display:flex;
    padding: 0.5vw 0.75vw;
    font-size:16px;
    color: rgb(133, 58, 151);
    background-color: white;
    border: 1px solid rgb(133, 58, 151);
    border-radius: 5px;
    cursor: pointer;
}

.logout:hover{
    color: rgb(133, 58, 151);
}


.userBooks{
    display:flex;
    padding: 0.5vw;
    margin-right:  10px;
    color: white;
    background-color: rgb(112, 182, 177);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.userBooks:hover{
    color: white;
}


.statistics {
    display:flex;
    padding: 0.5vw;
    margin-right: 2vw;
    color: white;
    background-color: rgb(93, 82, 238);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.statistics:hover {
    color: white;
}


.newBook {
    display:flex;
    padding: 0.5vw;
    margin-right:  10px;
    color: white;
    background-color: rgb(54, 180, 121);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.newBook:hover {
    color: white;
}



